[core]
excludesfile = ~/.dotfiles/git/.gitignore

[color]
ui = "auto"

[column]
ui = auto

[branch]
sort = -committerdate

[tag]
sort = version:refname

[init]
defaultBranch = main

[commit]
gpgsign = true
verbose = true

[tag]
forceSignAnnotated = true

[pull]
rebase = true

[push]
autoSetupRemote = true
default = simple
followTags = true

[fetch]
prune = true
pruneTags = true
all = true

[rebase]
autoStash = true
autoSquash = true
updateRefs = true

[submodule]
recurse = true

[help]
autocorrect = prompt

[rerere]
enabled = true
autoupdate = true

[gpg]
format = ssh

[gpg "ssh"]
program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[user]
name = Luca Castelnuovo
email = luca@castelnuovo.dev
signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFgpfuRPq4iOUM5Np9sjg3ICoJR2AKThT9kwB1cbW3lH

[url "github-proculair:proculair"]
insteadOf = git@github.com:Proculair

[includeIf "hasconfig:remote.*.url:git@github.com:Proculair/**"]
path = ~/.dotfiles/git/.gitconfig_gh_proculair

[url "github-proculair:proculair"]
insteadOf = git@github.com:proculair

[includeIf "hasconfig:remote.*.url:git@github.com:proculair/**"]
path = ~/.dotfiles/git/.gitconfig_gh_proculair
