[core]
excludesfile = ~/.dotfiles/git/.gitignore_global

[color]
ui = "auto"

[commit]
gpgsign = true

[tag]
forceSignAnnotated = true

[pull]
rebase = true

[push]
autoSetupRemote = true

[rebase]
autoStash = true

[submodule]
recurse = true

[gpg]
format = ssh

[gpg "ssh"]
program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[user]
name = Luca Castelnuovo
email = luca@castelnuovo.dev
signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFgpfuRPq4iOUM5Np9sjg3ICoJR2AKThT9kwB1cbW3lH

[url "github-proculair:proculair"]
insteadOf = git@github.com:Proculair

[includeIf "hasconfig:remote.*.url:git@github.com:Proculair/**"]
path = ~/.dotfiles/git/.gitconfig_gh_proculair

[url "github-proculair:proculair"]
insteadOf = git@github.com:proculair

[includeIf "hasconfig:remote.*.url:git@github.com:proculair/**"]
path = ~/.dotfiles/git/.gitconfig_gh_proculair
